
.modal {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  opacity: 0;
  z-index: 99999;
  transition: opacity 1s, visibility 0s 1s;
  visibility: hidden;
}
.modal__display-container{
  margin: 0 auto;
    position: absolute;
    left: 50%;
    top: 13%;
    transform: translate(-50% ,0);
    display: block; 
}
.modal__image-display{
  max-width: 75vw;
  max-height: 75vh;
}
.modal_opened {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.5s linear;
}
.modal__content{
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 17%;
  background-color: white;
  max-width: 430px;
  display: block;
  border-radius: 10px;
}
.modal__close-button{
  position: absolute;
  background: url("../images/close\ icon.svg") no-repeat center / auto 40px;
  width: 40px;
  height: 40px;
  right: -45px;
  top: -45px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: white;
  cursor: pointer;
  transition: all 0.2s ease-out;
}
.modal__paragraph{
  font-size: 12px;
  line-height: 14.52px;
  margin-top: 10px;
  margin-bottom: 0;
}
.modal__close-button:hover {
  opacity: 60%;
}
.modal__heading {
  padding: 34px 0 54px 36px;
  margin: 0;
  color: rgb(0, 0, 0);
  font-size: 24px;
}
.modal__fieldset {
  border: none;
  padding-left: 36px;
  margin: auto;
}
.modal__input {
  box-sizing: border-box;
  padding: 0 0 13px 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  display: block;
  font-size: 14px;
}
.modal__field{
  display: block;
  margin-bottom: 30px;
}
.modal__save-button {
  background-color: black;
  color: white;
  font-size: 18px;
  border-radius: 2px solid black;
  height: 50px;
  margin-bottom: 37px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-out;
}
.modal__save-button:hover {
  opacity: 0.8;
}
.modal__save-button_inactive{
  background-color: rgb(255, 255, 255);
  color: rgba(0, 0, 0, 0.2);
  border: 2px solid rgba(0, 0, 0, 0.2);
  cursor: default;
}
.modal__save-button_inactive:hover{
  opacity: 1;
}
.modal__input, .modal__save-button{
  width: 350px;
}
.modal__input-error{
  color:#FF0000;
  font-size: 12px;
  line-height: 14.52px;
  font-weight: 400;
}
.modal__input-error_active{
  opacity: 1;
}
.modal__input_type_error{
  border-bottom-color: #FF0000;
}

@media screen and (max-width: 620px) {
  .modal__container{
    position: relative;
    background-color: white;
    max-width: 282px;
    display: block;
    margin: auto;
    border-radius: 10px;
  }
  .modal__close-button{
    position: absolute;
    background: url("../images/close\ icon.svg") no-repeat center / auto 26px;
    width: 26px;
    height: 26px;
    right: 2px;
    top: -45px;
  }
  .modal__fieldset {
    margin: 0;
    padding-left: 22px;
  }
  .modal__input {
    width: 238px;
    margin-right: 0px;
    padding-left: 0;
    padding-right: 0;
  }
  .modal__save-button{
    width: 238px;
    height: 46px;
    margin-bottom: 25px;
  }
}